---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Lazygit from "../assets/screenshots/lazygit.png";
import Btop from "../assets/screenshots/btop.png";
import Harlequin from "../assets/screenshots/harlequin.png";
import Posting from "../assets/screenshots/posting.png";
import GhDash from "../assets/screenshots/gh-dash.png";

const projects = [
  {
    image: Lazygit,
    color: "pink",
    repoName: "jesseduffield/lazygit",
    sponsorLink: "https://github.com/sponsors/jesseduffield",
  },
  {
    image: Btop,
    color: "red",
    repoName: "aristocratos/btop",
    sponsorLink: "https://github.com/sponsors/aristocratos",
  },
  {
    image: GhDash,
    color: "green",
    repoName: "dlvhdr/gh-dash",
    sponsorLink: "https://github.com/sponsors/dlvhdr",
  },
  {
    image: Posting,
    color: "purple",
    repoName: "darrenburns/posting",
    sponsorLink: "https://github.com/sponsors/darrenburns",
  },
  {
    image: Harlequin,
    color: "yellow",
    repoName: "tconbeer/harlequin",
    sponsorLink: "https://github.com/sponsors/tconbeer",
  },
];
---

<Layout title="Welcome to Astro.">
  <section class="max-w-7xl mx-auto py-20">
    <h1 class="text-pink-400 text-5xl font-extrabold tracking-tight font-sans">
      TerminalApps
    </h1>
    <p class="mt-2 font-semibold">
      A collection of super cool TUI apps across the web.
    </p>
  </section>

  <main class="grid grid-cols-2 gap-12 max-w-7xl mx-auto pb-12">
    {projects.map((proj) => <Card {...proj} />)}
  </main>

  <footer class="max-w-7xl mx-auto py-10 border-t border-gray-900">
    Curated and maintained by <a
      href="https://shivam.dev"
      class="hover:underline">@scmmishra</a
    >
  </footer>
</Layout>
