---
import type { ComponentProps } from "astro/types";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import Lazygit from "../assets/screenshots/lazygit.png";
import Btop from "../assets/screenshots/btop.png";
import Harlequin from "../assets/screenshots/harlequin.png";
import Posting from "../assets/screenshots/posting.png";
import Lazydocker from "../assets/screenshots/lazydocker.png";
import Softserve from "../assets/screenshots/soft-serve.png";
import Oha from "../assets/screenshots/oha.png";
import Superfile from "../assets/screenshots/superfile.png";
import GhDash from "../assets/screenshots/gh-dash.png";
import Cloudlens from "../assets/screenshots/cloudlens.png";
import GitKraken from "../assets/screenshots/git-kraken.png";
import NewsletterForm from "../components/NewsletterForm.astro";

type CardProps = ComponentProps<typeof Card>;

const projects: Array<CardProps> = [
  {
    image: Lazygit,
    color: "pink",
    tags: ["git"],
    repoName: "jesseduffield/lazygit",
    sponsorLink: "https://github.com/sponsors/jesseduffield",
  },
  {
    image: Btop,
    color: "red",
    tags: ["monitoring"],
    repoName: "aristocratos/btop",
    sponsorLink: "https://github.com/sponsors/aristocratos",
  },
  {
    image: GhDash,
    color: "green",
    tags: ["git"],
    repoName: "dlvhdr/gh-dash",
    sponsorLink: "https://github.com/sponsors/dlvhdr",
  },
  {
    image: Superfile,
    color: "indigo",
    tags: ["productivity"],
    repoName: "yorukot/superfile",
    sponsorLink: "https://ko-fi.com/yorukot",
  },
  {
    image: Softserve,
    color: "fuchsia",
    tags: ["git", "infra"],
    repoName: "charmbracelet/soft-serve",
  },
  {
    image: Oha,
    color: "yellow",
    tags: ["infra"],
    repoName: "hatoo/oha",
    sponsorLink: "https://github.com/sponsors/hatoo",
  },
  {
    image: Lazydocker,
    color: "blue",
    tags: ["infra"],
    repoName: "jesseduffield/lazydocker",
    sponsorLink: "https://github.com/sponsors/jesseduffield",
  },
  {
    image: Posting,
    color: "purple",
    tags: ["productivity"],
    repoName: "darrenburns/posting",
    sponsorLink: "https://github.com/sponsors/darrenburns",
  },
  {
    image: Harlequin,
    color: "teal",
    tags: ["infra", "productivity"],
    repoName: "tconbeer/harlequin",
    sponsorLink: "https://github.com/sponsors/tconbeer",
  },
  {
    image: Cloudlens,
    color: "lime",
    tags: ["infra"],
    repoName: "one2nc/cloudlens",
  },
  {
    image: GitKraken,
    color: "orange",
    tags: ["git"],
    website: "https://www.gitkraken.com/",
    repoName: "gitkraken/gk-cli",
  },
];
---

<Layout title="Terminal Apps">
  <section
    class="max-w-7xl mx-auto py-20 flex gap-5 justify-between sm:flex-row flex-col"
  >
    <div>
      <h1
        class="text-pink-400 text-5xl font-extrabold tracking-tight font-sans"
      >
        TerminalApps
      </h1>
      <p class="mt-2 font-semibold">
        A collection of awesome TUI apps from around the web.
      </p>
    </div>
    <div>
      <button
        id="openDialog"
        class="font-bold text-black leading-none cursor-pointer hover:underline bg-pink-400 px-5 py-2 shadow-[4px_4px_0px_0px_rgba(255,255,255,1)]"
      >
        Get Updates
      </button>
    </div>
  </section>

  <main class="grid grid-cols-1 md:grid-cols-2 gap-12 max-w-7xl mx-auto pb-12">
    {projects.map((proj) => <Card {...proj} />)}
  </main>

  <dialog id="newsletterDialog">
    <NewsletterForm />
  </dialog>

  <footer
    class="max-w-7xl mx-auto py-10 border-t border-gray-900 flex md:flex-row flex-col md:justify-between md:items-center gap-2"
  >
    <span>
      Curated and maintained by <a
        target="_blank"
        href="https://twitter.com/scmmishra"
        class="underline">@scmmishra</a
      >
    </span>
    <span class="flex flex-wrap gap-2">
      <button
        id="openDialogFooter"
        class="before:content-['[_'] after:content-['_]'] hover:bg-white hover:text-black"
      >
        Get updates
      </button>
      <a
        target="_blank"
        class="before:content-['[_'] after:content-['_]'] hover:bg-white hover:text-black"
        href="https://github.com/scmmishra/terminal-apps.dev"
      >
        GitHub
      </a>
      <a
        target="_blank"
        class="before:content-['[_'] after:content-['_]'] hover:bg-white hover:text-black"
        href="https://github.com/scmmishra/terminal-apps.dev/issues/new?assignees=&labels=suggestion&projects=&template=submit.yml"
      >
        Suggest an app
      </a>
    </span>
  </footer></Layout
>

<script>
  const dialog = document.getElementById(
    "newsletterDialog",
  ) as HTMLDialogElement;
  const openButton = document.getElementById("openDialog");
  const openButtonFooter = document.getElementById("openDialogFooter");
  // const closeButton = document.getElementById("closeDialog");

  openButton?.addEventListener("click", () => {
    dialog?.showModal();
  });

  openButtonFooter?.addEventListener("click", () => {
    dialog?.showModal();
  });

  // Close the dialog when clicking outside of it
  dialog?.addEventListener("click", (event) => {
    const rect = dialog.getBoundingClientRect();
    if (
      event.clientY < rect.top ||
      event.clientY > rect.bottom ||
      event.clientX < rect.left ||
      event.clientX > rect.right
    ) {
      dialog.close();
    }
  });
</script>
