---
import "@fontsource/geist-mono/300.css";
import "@fontsource/geist-mono/400.css";
import "@fontsource/geist-mono/500.css";

import "@fontsource/ia-writer-mono/400.css";
import "@fontsource/ia-writer-mono/700.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="A collection of awesome TUI apps from around the web."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    {
      import.meta.env.PROD && (
        <>
          <script
            is:inline
            defer
            src="https://cloud.umami.is/script.js"
            data-website-id="0a94f40a-c3ba-499c-8ffb-d017bfd2b634"
          />
        </>
      )
    }
    <title>{title}</title>
  </head>
  <body class="font-mono bg-black text-white font-light px-5">
    <slot />
  </body>
</html>
